body {
    background: url(../images/bg.jpg) fixed;
    background-size: cover;
}

#content {
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.99;
    box-shadow: 0 0 2vmin black;
}

header {
    margin: 2% 0;
    padding-top: 2%;
}

#urlBox .urls, #urlBox .urlAdder {
    background: #fff;
    border-radius: 5px 5px 5px 5px;
}
#urlBox .url {
    padding: 5px;
}
#urlBox .url h3 {
    color: #67666e;
    font-size: 20px;
}
#urlBox .url a {
    font-size: 16px;
}
#urlBox .url input {
    font-size: 16px;
    line-height: 32px;
    color: #000;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}

footer {
    padding: 1vmin;
    font-size: 90%;
}

.btn {
    width: 100%;
    text-align: center;
    color: #fff;
    display: inline-block;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    color: #fff;
}

@media (min-width: 576px) {
    #content {
        margin: 2vmin auto;
    }

    #content h1 {
        font-size: 4vw;
    }
}